.loop-text {
  width: 100%;
  background-color: #eee7e2 !important;
  height: 71px;
  color: #45221D;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .loop-text {
    font-size: 21px;
    line-height: 27px;
  }
}