@font-face {
  font-family: "SignifierLight";
  src: local("SignifierLight"),
    url(./assets/fonts/signifier-web-light.woff2) format('woff2'),
    url(./assets/fonts/Signifier-Light.otf) format('otf'),
    url(./assets/fonts/SignifierApp-Light.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "SignifierLightItalic";
  src: local("SignifierLightItalic"),
    url(./assets/fonts/signifier-web-light-italic.woff2) format('woff2'),
    url(./assets/fonts/Signifier-LightItalic.otf) format('otf'),
    url(./assets/fonts/SignifierApp-LightItalic.ttf) format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
